---
import Head from "../components/Head.astro";
import FallbackImage from "../assets/blog-placeholder-1.jpg";
import { SiteTitle, SiteDescription } from "../site.config";

interface Props {
  title: string;
  subtitle: string;
  date: string;
  frontmatter: {
    title: string;
    subtitle: string;
  }
}

const {
  date,
  frontmatter,
  subtitle = frontmatter?.subtitle || SiteDescription,
  title = frontmatter?.title,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} description={subtitle} image={FallbackImage} />
  <body>
    <div class="mx-auto w-full max-w-2xl px-6 py-16">
      <header class="mb-16 leading-snug [&_p]:my-0 flex flex-col">
        <a class="text-xl sm:text-4xl no-underline" href="/">{SiteTitle}</a>
        <div class="mt-4 flex flex-row">
          <div class="flex-1 sm:text-xl">
            {title}
          </div>
          <span class="pl-2 flex-none text-sm text-muted-foreground">
            {date}
          </span>
        </div>
        <div class="text-md text-muted-foreground">{subtitle}</div>
      </header>

      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
