---
import Head from "../components/Head.astro";
import FallbackImage from "../assets/blog-placeholder-1.jpg";

interface Props {
  title: string;
  subtitle: string;
  frontmatter: {
    title: string;
    subtitle: string;
  }
}

const {
  frontmatter,
  title = frontmatter.title,
  subtitle = frontmatter.subtitle,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} description={subtitle} image={FallbackImage} />
  <body>
    <div class="mx-auto w-full max-w-2xl px-6 py-16">
      <header class="mb-24 leading-snug [&_p]:my-0">
        <p>
          <a class="font-medium no-underline" href="/">{title}</a>
        </p>
        <p class="text-muted-foreground">{subtitle}</p>
      </header>

      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
